
/* Your CSS Code here. */
blockquote{
	max-width: 600px;
	margin: 10px;
	padding: 15px;
	border-left: 8px solid #008000;
	background-color: #f8fffe;
	font-weight: bold;	
}
.ayush1 {
	font-weight:bold;
	font-size:18px;
	margin-bottom:20px;
}

